<header class="header">
  <div class="header-container">
    <!-- Logo (Home) -->
    <a class="header-logo" href="./index.html" aria-label="Cinemania home">
     
        <img class="header-logo-img" 
               src="/assets/popcorn.svg" 
               alt="Cinemania" 
               width="28" 
               height="28"
      />
      <span class="header-logo-text">Cinemania</span>
    </a>
      <span class="header-mobile-title">MENU</span>
    <!-- Desktop navigation -->
    <nav class="header-nav" aria-label="Main navigation">
      <ul class="header-nav-list">
        <li>
          <a class="header-nav-link" href="./index.html">Home</a>
        </li>
        <li>
          <a class="header-nav-link" href="./page-2.html">Catalog</a>
        </li>
        <li>
          <a class="header-nav-link" href="./page-3.html">My Library</a>
        </li>
      </ul>
    </nav>

    <!-- Right actions -->
    <div class="header-actions">
      <!-- Theme toggle -->
      <button
        class="theme-toggle"
        type="button"
        aria-label="Toggle dark / light theme"
      >
      <img class="theme-icon"
  src="/assets/sun.svg"
  alt=""
  width="10px"
  height="10px"
/>
        <img
    class="theme-icon"
    src="/assets/moon.svg"
    alt=""
    width="13px"
    height="13px"
  />
  


      <!-- Burger button (mobile) -->
      <button
        class="burger-btn"
        type="button"
        aria-label="Open menu"
      >
        <svg width="24" height="24" aria-hidden="true">
          <use href="/assets/burger.svg#icon-burger"></use>
        </svg>
      </button>
    </div>
  </div>

  <!-- Mobile menu -->
  <div class="mobile-menu">
    <div class="mobile-menu-panel">
      <ul class="mobile-menu-list">
        <li>
          <a class="mobile-menu-link" href="./index.html">Home</a>
        </li>
        <li>
          <a class="mobile-menu-link" href="./page-2.html">Catalog</a>
        </li>
        <li>
          <a class="mobile-menu-link" href="./page-3.html">My Library</a>
        </li>
      </ul>
    </div>
  </div>
</header>
