<header class="header">
  <div class="container header-container">
    <nav class="header-nav">
      <a href="./index.html" class="logo-link" aria-label="Cinemania Home">
        <svg class="logo-icon" width="32" height="32" >
          <use href="./img/symbol-defs.svg#icon-logo"></use>
        </svg>
      </a>
      <ul class="nav-list">
        <li class="nav-item"><a href="./index.html" class="nav-link" id="home-link">HOME</a></li>
        <li class="nav-item"><a href="./src/partials/catalog.html" class="nav-link" id="catalog-link">CATALOG</a></li>
        <li class="nav-item"><a href="./src/partials/my-library.html" class="nav-link" id="library-link">MY LIBRARY</a></li>
      </ul>

      <div class="header-controls">
        <div class="theme-toggle">
          <input type="checkbox" id="theme-switch" class="theme-input">
          <label for="theme-switch" class="theme-label">
            <span class="theme-ball"></span>
          </label>
        </div>
        <button type="button" class="mobile-menu-btn" id="menu-open">MENU</button>
      </div>
    </nav>
  </div>
</header>