<link rel="stylesheet" href="../css/my-library-hero.css">
<section class="my-library-hero">
    <div class="my-library-hero__loader is-hidden"></div>
    <div class="my-library-hero__overlay">
        <h1 class="my-library-hero__title">Create Your Dream Cinema</h1>

        <p class="my-library-hero__description">
            Is a guide to designing a personalized movie theater experience with the
            right equipment, customized decor, and favorite films. This guide helps
            you bring the cinema experience into your own home with cozy seating, dim
            lighting, and movie theater snacks.
        </p>
    </div>
</section>

<div id="my-library-error-popup">
    <div class="my-library-error">
        <button class="my-library-error__close">&times;</button>
        <div class="my-library-error__text">
            <h2 class="my-library-error__title">OOPS...</h2>
            <p class="my-library-error__message">We are very sorry!<br>But we couldn't find the trailer.</p>
        </div>
        <div class="my-library-error__image">
            <img src="../img/l.h.i.error-icon.png.png" alt="Error Icon" />
        </div>
    </div>
</div>

<script type="module" src="../js/my-library-hero.js"></script>