<section class="library-section">
  <div class="library-controls">
    <div class="genre-select">
      <button class="genre-btn" id="genreBtn">
        <span id="genreText">All Genres</span>
        <img src="/assets/chevron-down.svg" class="arrow" alt="arrow" />
      </button>

      <ul class="genre-menu" id="genreMenu"></ul>
    </div>
  </div>

  <div class="library-loader hidden">
    <span>Loading movies...</span>
  </div>

  <div class="library-error hidden">
    <p>Movies could not be loaded. Please try again.</p>
  </div>

  <ul class="library-list"></ul>

  <button class="load-more-btn hidden">Load More</button>

  <div class="library-empty hidden">
    <p>
      OOPS... <br />We are very sorry!<br />You don’t have any movies at your
      library.
    </p>

    <button class="search-btn">Search movie</button>
  </div>
</section>






















<!-- 


localStorage.setItem("library", JSON.stringify([
  {
    id: 101,
    title: "Inception",
    poster_path: "/9gk7adHYeDvHkCSEqAvQNLV5Uge.jpg",
    genre: "Action",
    year: "2010",
    rating: 8.8
  },
  {
    id: 102,
    title: "Interstellar",
    poster_path: "/gEU2QniE6E77NI6lCU6MxlNBvIx.jpg",
    genre: "Sci-Fi",
    year: "2014",
    rating: 8.6
  },
  {
    id: 103,
    title: "The Dark Knight",
    poster_path: "/qJ2tW6WMUDux911r6m7haRef0WH.jpg",
    genre: "Action",
    year: "2008",
    rating: 9.0
  },
  {
    id: 104,
    title: "Joker",
    poster_path: "/udDclJoHjfjb8Ekgsd4FDteOkCU.jpg",
    genre: "Drama",
    year: "2019",
    rating: 8.4
  },
  {
    id: 105,
    title: "Avatar",
    poster_path: "/kyeqWdyUXW608qlYkRqosgbbJyK.jpg",
    genre: "Fantasy",
    year: "2009",
    rating: 7.8
  },
  {
    id: 106,
    title: "Forrest Gump",
    poster_path: "/saHP97rTPS5eLmrLQEcANmKrsFl.jpg",
    genre: "Drama",
    year: "1994",
    rating: 8.8
  },
  {
    id: 107,
    title: "John Wick",
    poster_path: "/fZPSd91yGE9fCcCe6OoQr6E3Bev.jpg",
    genre: "Action",
    year: "2014",
    rating: 7.4
  },
  {
    id: 108,
    title: "Coco",
    poster_path: "/gGEsBPAijhVUFoiNpgZXqRVWJt2.jpg",
    genre: "Animation",
    year: "2017",
    rating: 8.4
  },
  {
    id: 109,
    title: "Parasite",
    poster_path: "/7IiTTgloJzvGI1TAYymCfbfl3vT.jpg",
    genre: "Thriller",
    year: "2019",
    rating: 8.5
  },
  {
    id: 110,
    title: "Gladiator",
    poster_path: "/ty8TGRuvJLPUmAR1H1nRIsgwvim.jpg",
    genre: "Action",
    year: "2000",
    rating: 8.5
  }
]));




localStorage.setItem("library", "[]");
location.reload(); 


-->
