.catalog-page {
    max-width: 320px;
    margin: 0 auto;
    width: 100%;
}

.search-row {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 12px;
    padding: 20px;
}

.film-input {
    position: relative;
}

.search-input {
    background-color: transparent;
    color: #fff;
    width: 173px;
    height: 40px;
    font-size: 14px;
    font-weight: 500;
    line-height: 1;
    border: 1px solid #fff;
    border-radius: 8px;
    padding: 0 14px;
}

.search-clear-btn {
    position: absolute;
    color: #fff;
    top: 50%;
    right: 12px;
    transform: translateY(-50%);
    background: transparent;
    border: none;
    cursor: pointer;
}

.year-select {
    position: relative;
    background: #111;
    width: 95px;
}

.year-btn {
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-width: 95px;
    padding: 0 12px;
    cursor: pointer;
    width: 95px;
    height: 40px;
    background: #111;
    border: 1px solid #fff;
    color: #b7b7b7 !important;
    border-radius: 8px;
    font-weight: 500;
    font-size: 14px;
    line-height: 1;
    transition: color .15s ease, border-color .15s ease;
}

.year-btn:hover {
    color: #f87719 !important;
    border-color: #f87719;
}

#selectedYear {
    color: #b7b7b7;
    font-size: 14px;
    font-weight: 500;
    line-height: 1;
}

#selectedYear {
    color: inherit !important;
}

.year-dropdown {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background-color: #111;
    border: 1px solid #fff;
    border-radius: 8px;
    list-style: none;
    padding: 4px 0;
    margin: 0;
    z-index: 999;
    transform: scaleY(0);
    opacity: 0;
    pointer-events: none;
    transition: transform .3s cubic-bezier(.4, 0, .2, 1),
        opacity .3s ease;
}

.year-dropdown.open {
    opacity: 1;
    transform: translateY(0);
    pointer-events: auto;
}

.icon-chevron {
    transition: transform .3s ease;
    fill: #b7b7b7;
}

/* .hidden {
    display: none;
    pointer-events: none;
    cursor: default;
} */

.year-dropdown li {
    color: #fff;
    font-size: 14px;
    font-weight: 500;
    line-height: 1;
    text-align: center;
    padding: 8px 12px;
    cursor: pointer;
    transition: color .3s ease, transform .3s ease;
}

.year-dropdown li:hover {
    transform: scale(1.1);
    color: #f87719;
}

.search-input-content {
    position: relative;
    width: 224px;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    gap: 8px;
}

.search-input.search-input-text {
    width: 224px;
}

.search-btn {
    background: linear-gradient(145deg, #ffc226 0%, #f84119 100%);
    width: 40px;
    height: 40px;
    border: none;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.search-btn svg {
    position: relative;
    color: #fff;
    transition: color 0.3s ease;
}

.search-btn:hover svg {
    color: #111;
}

#moviesContainer {
    display: grid;
    grid-template-columns: 1fr;
    gap: 14px;
    width: 100%;
}

#emptyMessage {
    color: #fff;
    font-size: 20px;
    font-weight: 400;
    padding-top: 48px;
    text-align: center;
    width: 100%;
}

.emptyHidden {
    width: 280px;
    margin: 0 auto;
}

@media screen and (min-width: 768px) {
    .catalog-page {
        max-width: 768px;
        width: 100%;
        margin: 0 auto;
    }

    .search-row {
        flex-wrap: nowrap;
        justify-content: center;
        padding-bottom: 36px;
        padding-top: 60px;
    }

    .search-input {
        width: 188px;
        height: 44px;
    }

    .year-select {
        flex-shrink: 0;
    }

    .year-btn {
        height: 44px;
    }

    .search-btn {
        flex-shrink: 0;
        width: 44px;
        height: 44px;
    }

    .search-input-content {
        display: none;
    }

    #moviesContainer {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 16px;
    }

    #emptyMessage {
        max-width: 100%;
        display: flex;
        flex-direction: column;
        gap: 12px;
        align-items: center;
        text-align: center;
    }

    .emptyHidden {
        width: 513px;
    }
}

@media screen and (min-width: 1280px) {
    .catalog-page {
        max-width: 1280px;
        margin: 0 auto;
    }

    .search-row {
        flex-wrap: nowrap;
        justify-content: center;
        padding-bottom: 36px;
        padding-top: 60px;
    }

    .search-input {
        width: 315px;
        height: 48px;
    }

    .year-btn {
        height: 48px;
    }

    .search-btn {
        width: 48px;
        height: 48px;
    }

    #moviesContainer {
        justify-content: center;
    }
}